# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
dev_env/
venv/
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Docker
*.log
*.pid
*.sock
docker-compose.override.yml

# Airflow
logs/
*.db
plugins/
.dags/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
