version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: de_postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  airflow:
    image: apache/airflow:2.10.3
    container_name: de_airflow
    environment:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__EXECUTOR: "SequentialExecutor"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://admin:admin123@postgres:5432/mydb
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
    command: ["webserver"]

  jupyter:
    image: jupyter/pyspark-notebook:latest
    container_name: de_jupyter
    ports:
      - "8888:8888"
    environment:
      JUPYTER_TOKEN: ""
    volumes:
      - ./notebooks:/home/jovyan/work
    depends_on:
      - postgres

  fastapi:
    image: tiangolo/uvicorn-gunicorn-fastapi:python3.11
    container_name: de_api
    ports:
      - "5000:80"
    volumes:
      - ./api:/app
    depends_on:
      - postgres

  adminer:
    image: adminer
    container_name: de_adminer
    ports:
      - "5001:8080"
    depends_on:
      - postgres

volumes:
  pgdata:
